<?xml version="1.0"?>
<mustache>
  <template name="master">
    <html lang="en">
      <head>
	<meta charset="utf-8"/>
	<title>Reconcile</title>
	<style>
	  table {
	      border-collapse: collapse;
	  }
	  table, th, td {
	      border: 1px solid black;
	  }
	  .rowEven {background-color: white;}
	  .rowOdd {background-color: #AAAAAA;}
	  body {
	      background-color: linen;
	  }

	</style>
      </head>
      <body>
	{{{body}}}
      </body>
    </html>
  </template>

  <template name="beancount_tx">
    <div class="beancountTx">
      ${{amount}} {{payment_direction}} {{payee}}<br />
      {{#narration}}
      {{narration}}<br />
      {{/narration}}
      {{#meta}}
      {{{item}}}<br />
      {{/meta}}
    </div>
  </template>

  <template name="reconcile_body">
    <center>
      <p>{{date}}</p>
      <table class="transactions" width="100%">
	<tr><td>Column total: {{col1_total}}</td><td>Column total: {{col2_total}}</td></tr>
	{{#rows}}
	<tr class="{{row_class}}">
	  <td valign="top" width="50%">{{{col1}}}</td>
	  <td valign="top">{{{col2}}}</td>
	</tr>
	{{/rows}}
      </table>
    </center>
  </template>
</mustache>
